body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 200px; /* Ajusta este valor según sea necesario para evitar que el footer se solape con el contenido */
}

/* ... (resto del CSS) ... */

header {
  background-color: #000000;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

section {
  margin: 20px;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos generales para secciones */

section {
  margin: 20px;
}

/* Estilos para la sección de usuario */

/* Estilos para la sección de usuario */
.user-info {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-info-container {
  max-width: 600px; /* Ajusta el ancho máximo según tus preferencias */
  width: 100%;
}

.user-info h3 {
  color: #333;
}

.user-info p {
  margin: 10px 0;
}

.user-info strong {
  color: #555;
  font-weight: bold; /* Agregado para hacer el texto en negrita */
}

/* Estilos para la sección de productos agregados */

.productos-agregados {
  margin-top: 20px;
}

.producto-agregado {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto-agregado h3 {
  color: #333;
  margin-bottom: 10px;
}

.producto-agregado p {
  margin: 8px 0;
}

/* Estilos generales para productos agregados */
.producto-agregado {
  margin-bottom: 20px;
}

.eliminar-producto-btn {
  background-color: #800080; /* Color rojo */
  color: #fff;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.eliminar-producto-btn:hover {
  background-color: rgb(0, 0, 0); /* Color rojo más oscuro al pasar el mouse */
}

/* Estilos para la sección de total */

.total {
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.total:hover {
  background-color: rgb(141, 21, 95);
  color: #f7f7f7;
}

/* Estilos responsivos */

@media (max-width: 767px) {
  .user-info {
    flex-direction: column;
    align-items: center;
  }

  .user-info-container {
    max-width: 100%;
  }
}

/* Agrega estos estilos para el modal y los botones */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-procesar-pago {
  background-color: #800080;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-modal {
  background-color: #800080;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-modal:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Estilos para la sección de recibo */

.recibo {
  display: contents;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 20px auto; /* Centrar el recibo y darle margen */
  max-width: 600px;
}

#detalleProductos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#detalleProductos th,
#detalleProductos td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#detalleProductos th {
  background-color: #f2f2f2;
}

#totalRecibo,
#cambioRecibo,
#fechaHora {
  text-align: right;
  margin-top: 10px;
  color: #333; /* Cambiado a un tono más oscuro */
}

#cambioRecibo {
  color: #800080; /* Color morado */
}

/* Agregado para estilos específicos del modal de procesar pago */
#modalProcesarPago {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#modalProcesarPago .modal-content {
  background-color: #000000;
  border: 1px solid #ffffff; /* Borde color morado */
  border-radius: 20px; /* Bordes redondeados */
  margin: 10% auto;
  padding: 30px;
  width: 80%;
  max-width: 400px; /* Ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
  position: relative;
  color: #f2f2f2;
}

#modalProcesarPago .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #800080; /* Color morado para el botón de cierre */
  font-size: 20px;
  font-weight: bold;
}

#modalProcesarPago .close:hover,
#modalProcesarPago .close:focus {
  color: #660066; /* Tonos más oscuros al pasar el mouse o en foco */
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para la sección de pago en efectivo */
.pago-efectivo {
  display: none;
}

#montoEfectivo,
#confirmarPagoEfectivoBtn {
  margin-top: 10px;
}

#confirmarPagoEfectivoBtn {
  background-color: #800080;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#confirmarPagoEfectivoBtn:hover {
  background-color: #800080;
}



.producto-agregado:hover {
  transform: scale(1.03); /* Escala del 3% al pasar el mouse */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra más suave al pasar el mouse */
}

/* Estilos para la sección de pago en efectivo */

